<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login and Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">  
    

</head>
<body>

    <div>
        <h1>Registration</h1>

        <form action="register" method="post">
        {% csrf_token %}

        <input type="hidden" name="register" value="register">

        <label for="first_name">First Name</label>
        <input type="text" name="first_name" >
        <br><br>

        <label for="last_name">Last Name</label>
        <input type="text" name="last_name" >
        <br><br>

        <label for="email">Email</label>
        <input type="email" name="email" >
        <br><br>

        <label for="Password">Password</label>
        <input type="password" name="Password" >
        <br><br>

        <label for="Password">Confirm PW</label>
        <input type="password" name="Password" >
        <br><br>

        <input type="submit" value="Register">

        </form>
    </div>

    <div>
        <h1>Login</h1>

        <form action="Login" method="post">
        {% csrf_token %}

        <input type="hidden" name="which_form" value="login">

        <label for="Email">Email</label>
        <input type="text" name="Email" >
        <br><br>

        <label for="Password">Password</label>
        <input type="text" name="Password" >
        <br><br>

        <input type="submit" value="Log In">

        </form>
    </div>

    <div name="validat">


    </div>




</body>
</html>