<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey</title>
</head>
<body>
    <form action='/users' method='POST'>
        {% csrf_token %}
        Name: <input type='text' name='YourName'>
        <br><br>
        Location: <select name='Dojo_Location'>
            <option value="Palestine">Palestine</option>
            <option value="Germany">Germany</option>
            <option value="China">China</option>
        </select>
        <br><br>
        Language: <select name='Favorite_Language'>
            <option value="Python">Python</option>
            <option value="Java">Java</option>
            <option value="C++">C++</option>
        </select>
        <br><br>
        <h4>Comment (optinal):</h4>
        Comment:<input type='text' class="comment" name='text'>
        <br><br>
        <input type='submit' value='create user'>
</body>
</html>