<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}	
    <link rel="stylesheet" href="{% static 'css/style.css' %}">  
</head>
<body>
    <nav>
        <div>
            <form action="addDojo" method="post">
                {% csrf_token %}
                <h1>Add a Dojo</h1>

                <label for="name">Name : </label>
                <input type="text" name="name"><br><br>

                <label for="city">City : </label>
                <input type="text" name="city"><br><br>

                <label for="state">State : </label>
                <input type="text" name="state"><br><br>

                <input type="submit" value="Add"><br><br>
            </form>
        </div>
        <div>
            <form action="addNinja" method="post">
                {% csrf_token %}
                <h1>Add a Ninja</h1>

                <label for="firstName">First Name : </label>
                <input type="text" name="firstName"><br><br>

                <label for="lastName">Last Name : </label>
                <input type="text" name="lastName"><br><br>

                <label for="dojo">Dojo : </label>
                <select name="dojo" id="">  
                    {% for dojo in alldojo %}
                    <option value={{dojo.id}}>{{dojo.name}}</option>
                    {% endfor%}
                </select><br><br>

                <input type="submit" value="Add">
            </form>
        </div>
    </nav>

    <h2>all the Dojos</h2>
    {% for dojo in alldojo %}
        <h3>ninja at {{dojo.name }} dojo</h3>
        {% for ninja in dojo.ninjas.all %}
        {{dojo.ninja.all}}
            <h5>{{ ninja.firstName}}</h5>
        {%endfor%}

    {%endfor%}




</body>
</html>