<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
</head>
<body>
    <main class="main">
        <div>
            <h1>Regestration</h1>
            <form method="post" action="/regestration">
            {% csrf_token %}
                <input type="hidden" name="which_form" value="register" >
                First Name:<input type="text" name="first_name" required><br><br>
                Last Name:<input type="text" name="last_name" required><br><br>
                Email:<input type="email" name="email" required><br><br>
                Password:<input type="password" name="password" required><br><br>
                Confirm Password:<input type="password" name="confirm" required><br><br>
            <input type="submit" value="Register">
            </form>
        </div>
        <div>
        <h1>Log in</h1>
            <form method="post" action="/login">
                {% csrf_token %}
                <input type="hidden" name="which_form" value="login">
                Email:<input type="email" name="email" required><br><br>
                Password:<input type="password" name="password" required><br><br>
                <input type="submit" value="Login">
            </form>
        </div>
    
    </main>
{% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
{% endif %}

</body>
</html>